.navbar {
  position: fixed;
  width: 100%;
  background: transparent;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar__navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

.navbar_title {
  font-size: 2vh;
  color: white;
}

.spacer {
  flex: 1;
}

.navbar_navigation-items a {
  color: pink;
  text-decoration: none;
}

.navbar_navigation-items ul {
  list-style-type: none;
  margin: none;
  padding: none;
  display: flex;
}

.navbar_navigation-items li {
  padding: 0 5px;
}

.navbar_navigation-items a:hover,
.navbar_navigation-items a:active {
  color: orange;
}

.navbar__logo_and_title {
  display: flex;
  flex-direction: row;
  align-items: center;
}


@media (max-width: 768px) {
  .navbar_navigation-items {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .navbar_title {
  font-family: 'Major Mono Display', monospace;
  font-size: 4vh;
  text-shadow: 0.2vh 0.2vh #CD6F29;
  }

  // .banner-logo {
  //   background-image: linear-gradient(rgb(225, 225,225), rgb(225,225,225)), url('');
  //   border-radius: 50%;
  //   height: 7vh;
  //   top: 3vh;
  //   left: 3vh;
  //   position: absolute;
  // }
}

@media only screen and (min-width: 600px) {
  .navbar_title {
  font-family: 'Major Mono Display', monospace;
  font-size: 5vh;
  text-shadow: 0.2vh 0.2vh #CD6F29;
  }
}

@media only screen and (min-width: 800px) {
  .navbar_title {
  font-size: 6vh;
  }
}
